button{
  float: right;
  width: 70%;
    height: 50px;
    background-color: #5cde90;
    border: none;
    letter-spacing: .4px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 500;
    font-family: Exo;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.375rem;
    margin-top: 23px!important;
}

button:hover{
    color: white;
}

input{
    border: 2px solid #dadfe6;
    border-radius:0.375rem;
    line-height: 1.5;
    border: 2px 2px;
    height: 50px;
    padding: 4px 10px ;
    padding-left: 0.9rem;
  margin-top: 3px;
  }

  select{
    border: 2px solid #dadfe6;
    border-radius:0.375rem;
    line-height: 1.5;
    border: 2px 2px;
    height: 50px;
    padding: 4px 10px ;
    width:103% !important;
    padding-right: 0!important;
    margin-top: 3px;

  }

ng-select{
  width:105%;
  margin-top: 3px;

}


nb-card-header{

  padding: 1.25rem;
  border-bottom: 1px solid #ebeef2;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  color: #2a2a2a;
  font-family: Exo;
  font-size: 1.125rem;
  font-weight: 600;
}

  ng-select{
    line-height: 2.3;
    border-radius:0.375rem;
  }