nb-card-header{
    padding: 1.25rem;
    border-bottom: 1px solid #ebeef2;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: #2a2a2a;
    font-family: Exo;
    font-size: 1.125rem;
    font-weight: 600;
}

nb-tab{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

::ng-deep .nb-theme-default nb-tabset .tab-link {
    font-weight: 600;
    color: #2a2a2a;
    font-family: Exo;
    font-size: 0.8 rem;
}

::ng-deep .nb-theme-default nb-tabset .tab.active .tab-link
{ color: #2a2a2a;
}

::ng-deep .nb-theme-default nb-tabset .tab .tab-link
{ color: #a8aeb6;
}

::ng-deep .nb-theme-default nb-tabset .tab .tab-link:hover
{ color: #2a2a2a;
}