<div class="auto-asset-tab-container">
  <button
    class="button-tab"
    routerLink="view_image_asset"
    routerLinkActive="active"
  >
    View Image Assets
  </button>
  <button class="button-tab" routerLink="map_asset" routerLinkActive="active">
    Generate or Map Image Assets
  </button>
  <button class="button-tab" routerLink="title_asset" routerLinkActive="active">
    View & Map Title Assets
  </button>
  <button class="button-tab" routerLink="c2a_asset" routerLinkActive="active">
    View & Map C2A Assets
  </button>
  <button
    class="button-tab"
    routerLink="review_asset"
    routerLinkActive="active"
  >
    Review Assets
  </button>
  <button class="button-tab" routerLink="aa_config" routerLinkActive="active">
    Auto Asset Config
  </button>
</div>

<router-outlet></router-outlet>
