.modal-title{
  font-family: Exo;
  color: #2a2a2a;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5rem;
  display: block;
}

.closee {
  border: 2px solid white;
  padding-bottom: 40px;
  display: none;
}
