<!-- <div>

    <nb-tabset>
        <nb-tab tabTitle="Final Templates"><br>
            <nb-tabset>
                <nb-tab *ngFor="let learner of learners" tabTitle="{{learner}}">
                    <template-table
                            [templates]="data['learnerWiseDebugDataMap'][learner]['finalTemplateList']"></template-table>

                </nb-tab>

            </nb-tabset>
        </nb-tab>

        <nb-tab tabTitle="Blocked Templates"><br>
            <blocked-templates [data]="data['filteringReasonsMap']" [tsize]="tsize"></blocked-templates>
        </nb-tab>
        <nb-tab tabTitle="Page test data"><br>
            <page-test-data [data]="data['tPtd']"></page-test-data>
        </nb-tab>
    </nb-tabset>


</div> -->