<ng-template #modalContent let-c="close" let-d="dismiss">
    {{setCloser(c)}}
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button class="closee" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <div *ngFor="let sizeObj of displayList">
        <h5 class="sizeClass">{{sizeObj.size}}</h5>
        <div *ngFor=" let creative of sizeObj.creativeList" style="display: inline-block;margin: 1em;"
             class="text-center">
          <button (click)="creative.verify =! creative.verify" class="btn" [ngClass]="creative.verify ? btn : '' "
                  style="margin-bottom: 0.5em"><i class="fa" [ngClass]=" creative.verify ? 'fa-check' : 'fa-times'"></i>
            {{creative.id}}[{{creative.type}}]
          </button>
          <creative-viewer [size]="sizeObj.size" [creative]="creative.id" [type]="creative.type"></creative-viewer>
        </div>
      </div>
      <ngx-loader style="width: 100%" *ngIf="confirmLoader"></ngx-loader>
    </div>
    <div class="modal-footer" *ngIf="!confirmLoader">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn" [ngClass]="btn" (click)="confirmRules()">{{btnTxt}}</button>
        </div>
      </div>
    </div>
  </ng-template>
  
  
  